body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.Confirm{
    color: aqua;
}
.Confirm button{
    font-size: 22px;
    padding: 10px 10px;
}